@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
